@import '../searchResults/post/les-post.scss';
@import '../searchResults/post/tb-post.scss';
@import '../searchResults/post/sp-post.scss';

#post-header.les, #post-header.es, #post-header.tb, #post-header.sp {
    .desc, .parentCat, .count {
        display:flex;
        align-items:center;
        margin-top:0.75em;
        .icon {
            /*
              實驗發現若要把 svg 圖示的尺吋設定為 1em，
              則 chrome 上面要藉由 min-width, min-height 完成，firefox 上面要透過 width, height 完成，故兩套設定缺一不可。
            */
            min-width:1em;
            min-height:1em;
            width:1em;
            height:1em;
        }
    }
    .desc, .parentCat {
        margin-bottom:0.75em;
    }
    .desc {
        color:#B0CA98;
        .noData {
            color:#739971;
        }
    }

    .parentCat {
        color:#CDB28A;
        a {
            color:inherit;
            text-decoration:none;
            &:hover {
                text-decoration:underline;
            }
        }
        .noData {
            color:#9A9C66;
        }
    }

    .count {
        margin-bottom:1.5em;
        color:#C7C7C7;
    }
}

#post-header.les, #post-header.es, #post-header.tb {
    .desc, .parentCat, .count {
        .icon {
            margin-right:1em;
        }
    }
}

#post-header.sp {
    .desc, .parentCat, .count {
        .icon {
            margin-right:0.5em;
        }
    }
}

#post-header.les, #post-header.es {
    .desc, .parentCat, .count {
        font-size:0.5em;
    }
}

#postBg {
    &.categoryP, &.tagP {
        .navbar {
            color:#4A4A4A;
            .current {
                color:#C73C3C;
            }
            .prev, .next {
                g {
                    fill:#1B3600;
                }
            }
        }
    }
}

#postBg.les, #postBg.es, #postBg.tb, #postBg.sp {
    &.categoryP, &.tagP {
        padding:1px 0;
        @import '../searchResults/post/general.scss';

        .noPost {
            text-align: center;
            margin:2em 0;
        }
    }
}

#postBg.les, #postBg.es, #postBg.tb {
    &.categoryP, &.tagP {
        $marginBottomOfPosts:27px;

        @include commonStyleOfPostOnExternalScreenAndTablet($marginBottomOfPosts);
        .results {
            margin-bottom:-$marginBottomOfPosts;
        }
        .navbar {
            margin-top:27px;/*1.5em*/
            margin-bottom:36px;/*2em*/
            .prev {
                margin-right:0.33em; 
            }
            .next {
                margin-left:0.33em;
            }
        }
    }
}

#postBg.tb {
    &.categoryP, &.tagP {
        $marginBottomOfPostOnTablet:18px;
        .results {
            margin-bottom:-$marginBottomOfPostOnTablet;
            @include commonStyleOfPostOnMobileDevices($marginBottomOfPostOnTablet);
            @include styleOfPostOnTablet();
        }
    }
}

#postBg.sp {
    &.categoryP, &.tagP {
        $marginBottomOfPostOnSmartPhone:1em;
        .results {
            margin-bottom:-$marginBottomOfPostOnSmartPhone;
            @include styleOfPostOnSmartPhone($marginBottomOfPostOnSmartPhone);
        }
        @include styleOfNavbarOnSmartPhone();
    }
}