@supports (position: sticky) or (position: -webkit-sticky) or
        (position: -moz-sticky) or (position: -ms-sticky) or (position: -o-sticky){
    #header-ctx {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
    }
}

#header-ctx.sticky {
    position:fixed;
}

#header-plhdr {
    position:relative;
    width:100%;
    background: transparent;
}

#header-ctx .menuBtn {
    position:absolute;
}

#header-ctx .menuBtn .bar {
    background-color:white;
    transition:rotate 150ms ease-out;
}

#header-ctx .menuBtn .bar.upper.rotate {
    transform:rotate(45deg);
}

#header-ctx .menuBtn .bar.lower.rotate {
    transform:rotate(-45deg);
}

#header-ctx .menu {
    display:block;
    position:absolute;
    /* menu box-sizing 一定要說定為 border-box，否則當選單內容增加時，選單的高度會超出畫面*/
    box-sizing: border-box;
    width:100%;
    background-color:white;
    overflow-y:auto;
    box-shadow:0 2px 4px 0 #545454;
}

#header-ctx .menu > .content {
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}

#header-ctx #shadow {
    position:absolute;
    background-color:#9D9D9D;
    opacity:0.6;
    width:100%;
}

/* 擺在選單上面的文章目錄列表 */
#header-ctx .menu #toc{
    border-bottom:1px solid #979797;
    margin-bottom:0.75em;
    width:100%;
    .sap {
        height:5px;
        border-radius:2.5px;
    }
    .content {
        /* 要取消 content 這個 ol 的 margin，
            否則畫面上會有 ol 的 margin-block-start , margin-block-end 之 1em margin*/
        margin:0;
        font-size:22.2px;
        & > li {
            margin-left:0.5em;
            margin-right:0.5em;
        } 
        ol {
            margin-left:2em;
        }
        li {
            margin-top:0.4em;
            margin-bottom:0.4em;
        }
    }    
}

#header-ctx .menu .search-bar {
    flex-basis:100%;
    border-radius:8px;
    border: 0.5px solid #979797;
    background-color:#F9F9F9;
    box-shadow:inset 0 0 3px 0 #979797;
}

#header-ctx .menu .search-bar input {
    outline:0;
    border:0;
    padding:0;
    color:#000000;
    flex:1;
    line-height:1;
    background:transparent;
}

#header-ctx .menu .search-bar input::-webkit-input-placeholder,/* Edge */
#header-ctx .menu .search-bar input::-ms-input-placeholder,/* Internet Explorer 10-11 */
#header-ctx .menu .search-bar input::placeholder { 
    color: #BFBFBF;
}

#header-ctx .menu .search-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    background:transparent;
}

#header-ctx .menu .link {
    box-sizing:border-box;
    display:flex;
    align-items: center;
    border-top:1px solid #979797;
}

#header-ctx .menu a {
    cursor:pointer;
}

#header-ctx .menu .link img,
#header-ctx .menu .link svg {
    flex-grow:0;
    vertical-align: middle;
}

#header-ctx .menu .link span {
    flex-grow:1;
}

#header-ctx .menu #cv {
    color:#FCBE60;
    fill:#FCBE60;
}

#header-ctx .menu #catagory {
    color:#7FB14C;
    fill:#7FB14C;
}

#header-ctx .menu #about {
    color:#263242;
    fill:#263242;
}

#header-ctx .menu #socialMediaGrp {
    justify-content: space-between;
}