#header-ctx {
    position:relative;
    top:0;
    width:100%;
}

#header-ctx #header-bar {
    position:relative;
    background: linear-gradient(#3F4E60, #1F2A3A);
    width:100%;
    box-shadow: 0 1px 2px 0 #505050;
}

#header-bar .backToHome {
    color:white;
    text-decoration: none;
    font-size:inherit;
    font-family: inherit;
}

#header-bar #site-name {
    position: absolute;
    & > img {
        position:relative;
    }
}

#header-ctx .search-bar {
    display: flex;
    align-items: center;
    box-sizing:border-box;
}

#header-ctx .search-bar .search-btn:hover {
    cursor: pointer;
}

@import './es.scss';
@import './mobile.scss';