#header-ctx {
    position:relative;
    width:100%;
    z-index:2;
}

#header-ctx #header-bar {
    position:relative;
    background: linear-gradient(#3F4E60, #1F2A3A);
    width:100%;
    box-shadow: 0 1px 2px 0 #505050;
    z-index:5;
}

#header-bar #site-name {
    position: absolute;
    color:white;
}

#header-ctx .search-bar {
    display: flex;
    align-items: center;
    box-sizing:border-box;
}

#header-ctx .search-bar .search-btn:hover {
    cursor: pointer;
}

@import url('./es.css');
@import url('./mobile.css');