.post {
    padding-top:1px;
    padding-bottom:1px;/* 上下各加 1px 的原因是要防止內部元素的 margin 頂出外框*/
    box-shadow:0 1px 3px #7C7C7C;
    border-radius:5px;
    box-sizing:border-box;
    .date {
        color:#6F3737;
    }
    .titleBar {
        display:flex;
        align-items: center;
    }
    .title {
        color:#323232;
        text-decoration:none;
        &:hover {
            text-decoration: underline;
        }
        cursor:pointer;
    }
    .categories, .parent {
        color:#667E4D;
    }
    .tags {
        color:#6F8099;
    }
    .categories, .tags, .parent {
        display:flex;
        align-items: center;
        .icon {
            /*
              實驗發現若要把 svg 圖示的尺吋設定為 1em，
              則 chrome 上面要藉由 min-width, min-height 完成，firefox 上面要透過 width, height 完成，故兩套設定缺一不可。
            */
            min-height:1em;
            min-width:1em;
            height:1em;
            width:1em;
            g {
                fill:#888888;
            }
        }
        .noData {
            color:#888844;
        }
        a {
            text-decoration:none;
            color:inherit;
            &:hover {
                text-decoration:underline;
            }
        }
    }
    .excerpt {
        a {
            color:#656A60;
            text-decoration: none;
            &:hover {
                text-decoration:underline;
            }
        }
    }
}