@mixin commonStyleOfPostOnExternalScreenAndTablet($marginBottomOfPost) {
    .post {
        margin-bottom:$marginBottomOfPost;
        padding-left:18px;
        padding-right:18px;

        .titleBar {
            margin:18px 0;/*1rem*/
        }

        .date {
            margin-right:9px;/*0.5em*/
        }
        .categories, .tags, .parent {
            font-size:14px;
            margin-bottom:0.5em;
            .icon {
                margin-right:1em;
                /*
                  實驗發現若要把 svg 圖示的尺吋設定為 1em，
                  則 chrome 上面要藉由 min-width, min-height 完成，firefox 上面要透過 width, height 完成，故兩套設定缺一不可。
                */
                min-height:1em;
                min-width:1em;
                height:1em;
                width:1em;
            }
        }
        .excerpt {
            font-size:16px;
            margin:18px 0;/*1rem*/
        }
    }
}