#post-ctnr {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-sizing:border-box;

    .rPost {
        $rPostBGColor:#FFFFFF;
        background:$rPostBGColor;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow:0 1px 3px 0 rgba(0,0,0,50);
        font-family: PingFangTC-Light, STHeitiTC-Light, 'FZLTXHB--B51-0'/* 蘭亭黑-繁 纖黑 */, Helvetica-Light, system-ui;
        .categories, .tags {
            .noData {
                color:#888844;
            }
        }
        .category, .tag, .read {
            &:hover {
                text-decoration: underline;
                cursor:pointer;
            }           
        }
        .title {
            cursor:pointer;
            font-family: STYuanti-TC-Regular, 'FZLTXHB--B51-0'/* 蘭亭黑-繁 纖黑 */, PingFangTC-Light, STHeitiTC-Light, Helvetica-Light, system-ui;
        }
        &.img {
            display:flex;
            flex-direction:column;
            img {
                flex-grow:0;
                object-fit: contain;
                &:hover {
                    cursor:pointer;
                }
            }
            .title, .postProps {
                display:flex;
                align-items: center;
            }
            .date {
                color:#969594;
                flex-grow:0;
            }
            .categories {
                color:#223552;
            }
            .title {
                color:#655E55;                
            }
        }
        &.plain {
            position:relative;
            .postInfoBg {
                max-width:100%;
                background:rgb(231,231,231);
            }
            .titleBar {
                display:flex;
                align-items: flex-start;
            }
            .date {
                color:#6F3737;
                flex-grow:0;
                text-align:center;
            }
            .title {
                color:#383838;                
            }
            .categories {
                color:#667E4D;
            }
            .tags {
                color:#6F8099;
            }
            .categories, .tags {
                font-weight: bolder;
                display:flex;
                align-items: center;
            }
            .icon {
                vertical-align: middle;
                flex-grow:0;
                g {
                    fill:#888888;
                }               
            }
            .excerpt {
                color:#2F411C;
                overflow-y:hidden;
            }
            .read {
                color:#8EBB5E;
                position:absolute;
                background:$rPostBGColor;
            }
        }
    }
}