/* 
    page 借用了 post 的元件，因此大部份元件的樣式已經定義在 post 的樣式表中，這裡只定義 page 額外增加的樣式。
*/
#post-header {
    .parentPage {
        color:#B0CA98;
        display:flex;
        align-items: center;
        font-family: "Georgia", "Palatino-Roman", "Charter-Roman", "Trebuchet MS", "Franklin Gothic Book", "sans-serif",
                     "Gill Sans MT","Segoe UI", "Calibri", "Calisto MT", "Times New Roman", "STYuanti-TC-Regular",
                     "STYuanti-TC-Light", "HannotateTC-W5", "PingFangTC-Regular", "STHeitiTC-Light", "Microsoft YaHei",
                     "Microsoft JhengHei", "華康細圓體", "新細明體", system-ui;
        margin-bottom:0.75em;
        
        svg {
            flex-grow:0;
            g {
                fill:#B2B2B2;
            }
        } 

        .icon {
            /*
              實驗發現若要把 svg 圖示的尺吋設定為 1em，
              則 chrome 上面要藉由 min-width, min-height 完成，firefox 上面要透過 width, height 完成，故兩套設定缺一不可。
            */
            min-width:1em;
            min-height:1em;
            width:1em;
            height:1em;
        }
        
        a {
            color:#B0CA98;
        }
              
        .name {
            &:hover {
                cursor:pointer;
                text-decoration:underline;
            }
        }
    }
}

#post-header.les, #post-header.es{
    .parentPage {
        font-size:0.5em;
        .icon {
            margin-right:1em;
        }
    }
}

#post-header.tb {
    .parentPage {
        .icon {
            margin-right:1em;
        }
    }

    .publishInfo {
        margin-bottom:1.5em;
    }

    img {
        position:absolute;
        top:100%;
    }
}

#post-header.sp {
    .parentPage {
        margin-top:1.5em;
        .icon {
            margin-right:0.5em;
        }
    }

    .publishInfo {
        margin-bottom:1.5em;
    }
}