@import '../recentPost/es.scss';

#slogan.es {
    .l2bg{
        .gtPanel {
            flex-grow:1;
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
            & > * {
                flex-grow:0;
            }
        }
        .socialMediaGrp {
            display:flex;
            justify-content: space-between;
            align-items:center;
            object-fit: contain;/*忘記這樣做的目的...*/
            svg {
                &:hover {
                    cursor:pointer;
                }
                g, polygon, path {
                    fill:rgba(255,255,255, 0.65);
                }                
            }
        }
    }
    .descPanel{
        position:relative;
        .logoChain {
            position:absolute;
            display:flex;
            align-items: center;
        }
    }    
    .bgOfPosts{
        background:rgb(255,242,225);
        box-shadow: 0 2px 4px 0 #DFD3CF;
        border-radius:8px;
        .placehlder {
            width:100%;
        }
        @include large-es-recent-post-ctnr();
    }
}