#home {

    width:100%;  
    .l2bg{
        background-color:#1B3404;
    }
    
    .l1bg{
        background-color:#7FB14C;
        opacity:0.9;
    }
    
    .descPanel{
        background-color:#E0DFDF;
    }
    
    .bgOfPosts{
        background-color:#FFF2DF;
    }
}