#slogan.sp {
    .l2bg {
        text-align:center;
        border-radius:5px;

        .greetings {
            white-space: normal;
            img {
                display:inline;
            }
        }
    }
    .portrait {
        position:absolute;
    }
    .descPanel {
        position:relative;
    }
}