#slogan.tb {
    .l2bg {
        box-sizing:border-box;
        display:flex;
    }
    .gtPanel {
        display:flex;
        align-items: center;
    }
    .descPanel {
        box-sizing: border-box;
    }
}