#post-header.les, #post-header.es, #post-header.tb, #post-header.sp {
    .summary {
        margin-bottom:1em;
        color:#C7C7C7;
    }
}

#post-header.les, #post-header.es {
    .summary {
        font-size:0.5em;
    }
}

#postBg.search, #postBg.categoryP {
    .results {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .navbar {
        display:flex;
        justify-content: space-between;
        .nav {
            a {
                text-decoration: none;
            }
            svg {
                vertical-align: middle;
            }
            &:hover {
                cursor:pointer;
            }
            &.hidden {
            visibility: hidden;
            }
        }

        .indexes {
            & > * {
                vertical-align: middle;
                text-align:center;
                margin:0 0.25em;
                /*註: 因為這些元素都是 inline 元素，所以 margin 不會收縮。
                    為求間距符合設計，這裡的 margin 值取設計值的一半。*/
            }                        
            .current {
                color:#C73C3C;
            }

            a {
                color:inherit;
                text-decoration: none;
                &:hover {
                    text-decoration:underline;
                    cursor:pointer;
                }
            }
        }
    }
}

#postBg.search{
    padding-top:1px;
    
    .heading {
        font-family:'STYuanti-TC-Regular', 'STYuanti-TC-Light', "華康細圓體", 'PingFangTC-Regular', 
                    'Microsoft JhengHei', 'STHeitiTC-Light', 'GillSans-Light', 'ArialMT', system-ui;
        font-weight:400;
        display:flex;
        align-items: center;
        svg g {
            fill:#B2B2B2;
        }
    }
    /*
      todo .posts, .categories, .tags 最好要改名，這樣才不會跟查詢結果裡面的類別名稱混淆。
    */
    .posts {
        .heading {
            color:#1B3600;
        }

        @import './post/general.scss';

        .navbar {
            a {
                color:#4A4A4A;
            }
            svg g {
                fill:#4A4A4A;
            }
        }
    }

    .categories {
        .heading {
            color:#4C7027;
        }
        .category {
            box-sizing:border-box;
            .content {
                box-shadow:0 0 2px 0 #C7C7C7;
            }
        }
        .navbar {
            a {
                color:#4C7027;
            }
            svg g {
                fill:#4C7027;
            }
        }
    }
    .tags {
        .heading {
            color:#6F8099;
        }
        .tag {
            box-sizing:border-box;
            svg {
                position:relative;
                z-index:1;        
            }
            .content {
                position:relative;
                box-shadow:0 2px 1px 0 #C7C7C7;
                z-index:2;
                &.red {
                    background:#FFD5D6;
                }
    
                &.blue {
                    background:#C1D6F0;
                }
            }
        }
        .navbar {
            a {
                color:#6F8099;
            }
            svg g {
                fill:#6F8099;
            }
        }
    }

    .category, .tag {
        /*這兩類區塊內的元素之間似乎有斷行記號導致元素無法緊密貼合，因此要使用 display 把它們整合在一起，
                然後再使裝飾區域及其外部陰影的寬度與內容等寬，這樣才能實現設計。 */
        display:flex;
        flex-direction:column;
        border-radius:8px;

        .content {
            padding:1px 0.5em;
            .name {
                color:#4A4A4A;
                text-decoration:underline;
                text-align:center;
                margin:0.75em 0;
                &:hover {
                    cursor:pointer;
                }
            }
            .desc {
                margin-bottom:0.75em;
                color:#666666;
            }
        }
        
    }

    & > .noData {
        margin-top:1.25em;
        margin-bottom:3.25em;
    }
}

@import './les-es-postBg.scss';
@import './tabletBg.scss';
@import './smart-phone.scss';