#post-header.les, #post-header.es, #post-header.tb {
    .summary {
        margin-bottom:1em;
        color:#C7C7C7;
    }
}

#post-header.les, #post-header.es {
    .summary {
        font-size:0.5em;
    }
}

#postBg.les, #postBg.es {
    &.search {
        padding-bottom:9px; /*0.5rem  這裡的 0.5 加上 navbar 的 2.5 剛好符合規格的 3rem*/

        #types-and-taxo {
            margin-top:27px;/*1.5rem*/
        }
        #introduction {
            margin-bottom:45px;/*2.5rem*/
        }

        .heading {
            margin:27px 0;/*1.5rem*/
            svg {
                height:1em;
                margin-right:0.5em;
            }
        }

        $marginBottomOfPost:27px;/*1.5rem*/
        .posts .results {
            margin-bottom: -$marginBottomOfPost;
        }//因為 results 區域以 flexbox 佈局，所以底下要用負的 margin 把下面元素往上拉，這樣底部 margin 才不會太高。

        .post {
            margin-bottom:$marginBottomOfPost;
            padding-left:18px;
            padding-right:18px;

            .titleBar {
                margin:18px 0;/*1rem*/
            }

            .date {
                margin-right:9px;/*0.5em*/
            }
            .categories, .tags {
                font-size:14px;
                margin-bottom:0.5em;
                .icon {
                    margin-right:1em;
                    min-height:1em;
                    min-width:1em;
                }
            }
            .excerpt {
                font-size:16px;
                margin:18px 0;/*1rem*/
            }
        }

        .category {
            svg {
                margin-top:-2px;
                margin-left:-1px;
            }
        }

        .navbar {
            margin-top:36px; /*2rem*/
            margin-bottom:45px;/*2.5rem*///todo 實作錯誤，要改
            .prev {
                margin-right:0.33em;
            }
            .next {
                margin-left:0.33em;
            }
        }
    }
}