@import './post/sp-post.scss';

#postBg.sp.search {
    padding-top:1px;
    padding-bottom:9px;
    
    #types-and-taxo {
        margin-top:1.5em;
    }

    .heading {
        svg {
            height:1em;
            margin-right:0.5em;
        }
    }

    $marginBottomOfPostOnSmartPhone:1em;
    .posts {
        .results {
            //因為已經在手機搜尋頁模板中的 postBg 注入字體大小，所以這邊可以安心使用 em。
            margin-bottom: -$marginBottomOfPostOnSmartPhone;
            @include styleOfPostOnSmartPhone($marginBottomOfPostOnSmartPhone);
        }
        @include styleOfNavbarOnSmartPhone();  
    }    
}