@import './post/sp-post.scss';

#postBg.sp.search {
    padding-top:1px;
    padding-bottom:9px;
    
    #types-and-taxo {
        margin-top:1.5em;
    }

    .heading {
        svg {
            height:1em;
            margin-right:0.5em;
        }
    }

    $marginBottomOfPostOnSmartPhone:1em;
    .posts {
        @include styleOfPostOnSmartPhone($marginBottomOfPostOnSmartPhone);
    }

    @include styleOfNavbarOnSmartPhone();
}