@import './post/tb-post.scss';

$marginBottomOfSearchItems:1em;
#postBg.tb, #postBg.sp {
    &.search {
        /*
          todo .posts, .categories, .tags 最好要改名，這樣才不會跟查詢結果裡面的類別名稱混淆。
        */
        .posts, .categories, .tags {
            .results {
                margin-bottom: -$marginBottomOfSearchItems;
            }//因為 results 區域以 flexbox 佈局，所以底下要用負的 margin 把下面元素往上拉，這樣底部 margin 才不會太高。
        }

        .category, .tag {
            margin-bottom: $marginBottomOfSearchItems;
        }

        @include commonStyleOfPostOnExternalScreenAndTablet($marginBottomOfSearchItems);
    }
}

#postBg.tb.search {

    #introduction {
        margin-bottom:27px;/*1.5rem*/
    }

    .posts {
        @include styleOfPostOnTablet();
    }

    & > .noData {
        font-size:20px;
    }
}