@import url('../../node_modules/normalize.css/normalize.css');

body {
    /*設定前端支援的最小顯示寬度*/
    min-width:320px;
}

#react-root {
    /*使 react 元件區塊以 relative 定位以便裡面的元件可以使用其他定位方式。*/
    position:relative;
    min-height:100vh;
}

@import './component/title/title.scss';
@import './component/home.scss';
@import './component/post/general.scss';
@import './component/page/general.scss';
@import './service/featureDetection.scss';

/* 載入 prismjs 和 prismjs 的擴充套件 line-numbers */
/*@import url('../../node_modules/prismjs/themes/prism-tomorrow.css');*/
/*@import url('../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css');*/
/*
從這個檔案透過 css import 語法管理 gulp 連接 css 的順序。
@import url('other css file...');
*/