/*
    寬度 < 1024px 或寬度 = 1024px 且為垂直模式的螢幕採用外接螢幕的佈局方式
*/
@media (max-width:1024px){
    body {
        background-color: #FBFBFB;
    }
}

/*
  寬度 > 1024px 或寬度 = 1024px 且水平模式的螢幕採用行動裝置的佈局方式
*/
@media (min-width:1024px){
    body {
        background-color: rgb(255,248,238);
    }
}
/*
    當寬度在臨介點時，這部分的樣式要獨立出來做成多層次的處理，
    否則實測發現 chrome 似乎會套用最後一個相對符合設定的樣式。
*/
@media (width:1024px) {
    @media (orentation: landscape) {
        body {
            background-color: #FBFBFB;
        }
    }

    @media (orentation: portrait) {
        body {
            background-color: rgb(255,248,238);
        }
    }
}

/* 這是用來在行動版網頁展開選單時，負責確保後面內容不產生捲軸的類別 */
#react-root.trim {
    overflow:hidden;
    max-height:100vh;
    max-width:100vw;
}

@import './slogan/slogan.scss';