#http-error {
    transition:opacity 200ms ease-out;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    font-family: "PingFangTC-Regular", "標楷體", "Microsoft JhengHei", "ArialMT", "Arial", system-ui;
    .icon {
        width:1em;
        height:1em;
    }
    .msgList {
        margin:1em 0;
        .msg {
            line-height:1.25;
        }
    }
    &.fadeOut {
        opacity:0;
    }
}

@keyframes flash { 
    50% {
        opacity:0.75;
    }
    
    100% {
        opacity:1;
    }
}

//顯示寬度 > 640 的螢幕之錯誤訊息都套用深綠色的樣式
@media (min-width:641px) {
    #http-error {
        background:#042802;
        color:#D7D1CC;
        .icon {
            margin-right:1em;
            g {
                fill:#D7D1CC;
            }
        }
        &.flash {
            animation:flash 300ms ease-in;
        }
    }
}

//顯示寬度 < 640 的螢幕之錯誤訊息都套用手機的樣式
@mixin styleOfHttpErrorMsgOnSmartPhone($marginRightOfIcon) {
    #http-error {
        background:#343434;
        opacity:0.8;
        color:#EEEEEE;
        position:fixed;
        bottom:0;
        left:0;
        .icon {
            margin-right:$marginRightOfIcon;
            g {
                fill:#EEEEEE;
            }
        }
        &.flash {
            animation:flash 300ms ease-in;
        }
    }
}

@media (max-width:640px) {
    @include styleOfHttpErrorMsgOnSmartPhone(1em);
}

@media (max-width:432px) {
    @include styleOfHttpErrorMsgOnSmartPhone(0.5em);
}

@import './slogan/general.scss';
@import './recentPost/general.scss';