$prioritizedFonts:'STYuanti-TC-Regular', 'STYuanti-TC-Light';
$backupFonts:'PingFangTC-Regular', 'STHeitiTC-Light', 'GillSans-Light', 'ArialMT', system-ui;
#post-header {
    width:100%;
    position:relative;

    #titleBg {
        background:#1B3404;
        box-sizing:border-box;
        font-family:'STYuanti-TC-Regular', 'STYuanti-TC-Light';
        box-shadow:0 2px 4px 0 rgba(0,0,0,50);
    }

    .postInfo {
        margin:0 auto;
        position:relative;
    }
   
    .categories, .tags, .publishInfo {
        svg {
            vertical-align: middle;
            g {
                fill:#B2B2B2;
            }
        }
        font-family: $prioritizedFonts, $backupFonts;
        .tag, .category {
            &:hover {
                cursor:pointer;
                text-decoration:underline;
            }
        }
    }
    .title {
        color:#B0CA98;
        font-family: $prioritizedFonts,'HannotateTC-W5',$backupFonts;
    }
    .categories {
        color:#B0CA98;
        .noData {
            color:#739971;
        }
    }
    .tags {
        color:#CDB28A;
        .noData {
            color:#9A9C66;
        }
    }
    .publishInfo {
        color:#C7C7C7;
        .noData {
            color:#AEAEAE;
        }
    }
    img {
        width:100%;
        object-fit: cover;
        position:absolute;
        top:100%;        
    }
    #post-dec {
        width:100%;
        background:#7FB14C;
        opacity:0.9;
        box-shadow:0 2px 4px 0 rgb(111,156, 65);
    }
}
#postBg {
    box-sizing:border-box;
    margin:0 auto;
    background:rgb(255,253,249);
    box-shadow:0 2px 3px 0 #888888;
    
}

@import './post/large-external-screen.scss';