
@media (min-width:1440px) {
    #post-header {          
        .subject {
            margin-top:30px;
        }
    }
    .subject {
        border-width:3px; 
        font-size:18px;
        /*註: 本文主旨必須上面的 padding 必須為內容字體大小約 1/3 左右，否則就算內容不多， fieldset 仍會被撐得很高，
            而且內容文字還會與下面的 padding 貼齊，具體原因我還不是很清楚*/
        padding:6px 21px 14.4px 21px;
        legend {
            font-size:20px;
            padding:0 10px;
        }
    }
    #postBg {
        .subject {
            margin:15px 0;
        }      
        #toc {
            margin-right:2em;//數值待確認
            margin-bottom:2em;//數值待確認
            .sap {
                height:4px;
            }
        }
    }
}
