#post-header {
    width:100%;
    /*react 元件裡會設定 #post-header 的寬度，然後下面再用 em 來求相對尺寸*/
    position:relative;
    box-sizing:border-box;

    .title {
        color:#B0CA98;
        font-family: "AvenirNext-Medium", "Book Antiqua", "Lucida Bright", "Segoe UI", "Calisto MT", "Verdana",
                     "Calibri",  "ArialRoundedMTBold", "Arial Rounded MT", "Microsoft Sans Serif", "Times New Roman",
                     "Tahoma", "Arial", "PingFangTC-Regular", "STHeitiTC-Light", "Helvetica-Light", "STYuanti-TC-Regular",
                     "STYuanti-TC-Light", "Microsoft YaHei", "Microsoft JhengHei", "華康細圓體", "新細明體", system-ui;
        &.noTitle {
            color:#878667;
        }
    }

    .categories, .tags, .publishInfo {
        display:flex;
        align-items: center;
        svg {
            flex-grow:0;
            g {
                fill:#B2B2B2;
            }
        }
        font-family: "Georgia", "Palatino-Roman", "Charter-Roman", "Trebuchet MS", "Franklin Gothic Book", "sans-serif",
                     "Gill Sans MT","Segoe UI", "Calibri", "Calisto MT", "Times New Roman", "STYuanti-TC-Regular",
                     "STYuanti-TC-Light", "HannotateTC-W5", "PingFangTC-Regular", "STHeitiTC-Light", "Microsoft YaHei",
                     "Microsoft JhengHei", "華康細圓體", "新細明體", system-ui;
        .tag, .category {
            color:inherit;
            text-decoration:none;
            &:hover {
                cursor:pointer;
                text-decoration:underline;
            }
        }
    }
    .categories {
        color:#B0CA98;
        .noData {
            color:#739971;
        }
    }
    .tags {
        color:#CDB28A;
        .noData {
            color:#9A9C66;
        }
    }
    .publishInfo {
        color:#C7C7C7;
        .noData {
            color:#AEAEAE;
        }
    }
    .gist {
        border-style:solid;
        border-color:#648942;
        color:#F5F9F1;
    }
    img {
        object-fit:cover;
    }
}
#post-dec {
    background:#7FB14C;
    opacity:0.9;
    box-shadow:0 2px 4px 0 rgb(111,156, 65);
}

.les, .es, .tb {
    .gist {
        box-sizing:border-box;

        $chineseFonts:"PingFangTC-Light", "STHeitiTC-Light", "FZLTXHB--B51-0"/* 蘭亭黑-繁 纖黑 */, "Helvetica-Light",
                      "標楷體", "微軟正黑體", "新細明體", "system-ui";
        /*
            註: 以下兩種字型設定的中文部分--也就是 $chineseFonts 要擺在 ArialUnicodeMS 前面，
            否則 Mac OS 的瀏覽器會先套用 ArialUnicodeMS 自帶的中文字。
        */
        font-family: "Rockwell", "Georgia", "Constantia", "Times New Roman", "Segoe UI", "Trebuchet MS", "Calibri", "Sathu",
                     "Verdana", $chineseFonts, "ArialUnicodeMS", "Arial";
        
        legend {
            font-family: "Copperplate", "Copperplate Gothic Light", "Geneva", "LucidaGrande", "Sathu", "Lucida Sans Unicode", 
                         "Lucida Console", "Trebuchet MS", "Avenir-Medium", "Segoe UI", "Consolas", "Calibri", "Verdana",
                         $chineseFonts, "ArialUnicodeMS";
        }
    }
}

@import './les-es-post-header.scss';
@import './mobile-post-header.scss';
@import './les-es-postBg.scss';
@import './mobile-postBg.scss';