
@media (min-width:1440px) {
    #post-header {
        .postInfo {
            padding-top:1em;
            padding-bottom:0.75em;
        }
        .title {
            font-size:1em;
            margin-bottom:1em;
        }
        .categories, .tags {
            margin-bottom:0.75em;
        }
        .categories, .tags, .publishInfo {
            font-size:0.5em;
            .icon {
                width:1em;
                height:1em;
                margin-right:1em;
            }
        }
        .subject {
            margin:0.94vw 0;//todo 要再撿查
        }
    }
    #post-dec {
        height:0.33em;
    }
    #postBg .subject, #post-header .subject {
        border:4px solid #F4BA66;
        box-sizing:border-box;
        font-size:1.15vw;
        /*註: 本文主旨必須上面的 padding 必須為內容字體大小約 1/3 左右，否則就算內容不多， fieldset 仍會被撐得很高，
            而且內容文字還會與下面的 padding 貼齊，具體原因我還不是很清楚*/
        padding:0.383vw 1.15vw 0.9125vw 1.15vw;
        legend {
            font-size:1.25vw;
            padding:0 0.625vw;
        }
    }
    #postBg {
        font-size:18px;
        background:rgb(255,253,249);
        .subject {
            margin:1.875vw 0;
        }
        #toc {
            background:#F9F9F9;
            box-shadow: 0 0 3px 0 #666666;
            border-radius:5px;
            float:left;
            margin-right:2em;
            margin-bottom:2em;
            color:#576373;
            & > * {
                display:block;
            }
            .title{
                text-align:center;
                color:#51719D;
            }
            .sap {
                height:5px;
                width:100%;
                background:#C73C3C;
                border-radius:2.5px;
            }         
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            ol {
                padding-left:0;
            }
            li {
                list-style-position:inside;
            }
            ol li {
                list-style-type:decimal;
                ol li {
                    list-style-type:decimal-leading-zero;
                    ol li {
                        list-style-type:upper-roman;
                        ol li {
                            list-style-type:upper-latin;
                            ol li {
                                list-style-type:lower-latin;
                            }
                        }
                    }   
                }
            }
        }
        h1,h2,h3,h4,h5 {
            margin-top:0;
        }
        h1 {
            font-size:30px;
        }
        h2 {
            font-size:28px;
        }
        h3 {
            font-size:26px;
        }
        h4 {
            font-size:24px;
        }
        h5 {
            font-size:22px;
        }
    }
}
