$prioritizedFonts:'STYuanti-TC-Regular', 'STYuanti-TC-Light';
$backupFonts:'PingFangTC-Regular', 'STHeitiTC-Light', 'GillSans-Light', 'ArialMT', system-ui;

#post-header.les, #post-header.es, #post-header.tb {
    width:100%;
    /*react 元件裡會設定 #post-header 的寬度，然後下面再用 em 來求相對尺寸*/
    position:relative;

    #titleBg, #post-dec {
        position:relative;
    }
    #titleBg {
        background:#1B3404;
        box-sizing:border-box;
        font-family:$prioritizedFonts;
        box-shadow:0 2px 4px 0 rgba(0,0,0,50);
    }
    .postInfo {
        margin:0 auto;
        position:relative;
        padding-top:1em;
    }
    .title {
        font-size:1em;
        margin-bottom:1em;
        color:#B0CA98;
        font-family: $prioritizedFonts,'HannotateTC-W5',$backupFonts;
    }   
    .categories, .tags, .publishInfo {
        svg {
            vertical-align: middle;
            g {
                fill:#B2B2B2;
            }
        }
        font-family: $prioritizedFonts, $backupFonts;
        .tag, .category {
            &:hover {
                cursor:pointer;
                text-decoration:underline;
            }
        }
    }
    .categories, .tags {
        margin-bottom:0.75em;
    }
    .categories, .tags, .publishInfo {
        font-size:0.5em;
        .icon {
            width:1em;
            height:1em;
            margin-right:1em;
        }
    }
    .categories {
        color:#B0CA98;
        .noData {
            color:#739971;
        }
    }
    .tags {
        color:#CDB28A;
        .noData {
            color:#9A9C66;
        }
    }
    .publishInfo {
        color:#C7C7C7;
        .noData {
            color:#AEAEAE;
        }
    }
    .subject {
        border:4px solid #648942;
        color:#F5F9F1;
    }
    img {
        width:100%;
        object-fit: cover;
        position:absolute;
        top:100%;       
    }
    #post-dec {
        height:0.33em;
        width:100%;
        background:#7FB14C;
        opacity:0.9;
        box-shadow:0 2px 4px 0 rgb(111,156, 65);
    }
}
$fontFamilyOfTextInArticle:PingFangTC-Light, STHeitiTC-Light, 'FZLTXHB--B51-0'/* 蘭亭黑-繁 纖黑 */, Helvetica-Light, system-ui;
.les .subject, .es .subject, .tb .subject {
    box-sizing:border-box;
    font-family: $fontFamilyOfTextInArticle;
}

#post-header.les {          
    .subject {
        margin-top:0.94vw;
    }
}
.les .subject {
    border-width:4px; 
    font-size:1.15vw;
    /*註: 本文主旨必須上面的 padding 必須為內容字體大小約 1/3 左右，否則就算內容不多， fieldset 仍會被撐得很高，
        而且內容文字還會與下面的 padding 貼齊，具體原因我還不是很清楚*/
    padding:0.383vw 1.15vw 0.9125vw 1.15vw;
    legend {
        font-size:1.25vw;
        padding:0 0.625vw;
    }
}