#toc {
    & > * {
        display:block;
    }
    .sap {
        background:#C73C3C;
    }
    .title{
        text-align:center;
        color:#51719D;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    ol {
        /* ol 元素預設有 padding-left 以便給 li 元素的項目符號有足夠的顯示空間，但我不需要這個。 */
        padding-left: 0;

        &.content {
            /*
                內層清單項目以包覆其元素的 ol 之 margin-left 做出它的縮排，
                因此 ol 的 margin-left 隨著外層 li 清單記號的寬度而調整，
                但預設是下面指定的 1.25em。
            */
            ol {
                margin-left:1.25em;
            }

            li {
                color:#576373;
                & > * {
                    color:#576373;
                }
            }
    
            & > li {
                list-style-type:decimal;
                list-style-position: inside;
                & > ol {
                    margin-left:1.25em;
                    & > li {
                        list-style-type:decimal-leading-zero;
                        & > ol {
                            margin-left:1.5em;
                            & > li {
                                list-style-type:upper-roman;
                                & > ol {
                                    margin-left:1em;
                                    & > li {
                                        list-style-type:upper-latin;
                                        & > ol {
                                            margin-left:1em;
                                            & > li {
                                                list-style-type:lower-latin;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 橫跨所有螢幕的樣式設定 */
#postBg {
    box-sizing:border-box;
    font-family: "AvenirNext-Medium", "Microsoft Sans Serif", "Calibri", "Segoe UI", "Arial", "Lucida Bright", "Calisto MT", 
                 "Verdana", "Tahoma", "Arial", "Times New Roman", "PingFangTC-Light", "STHeitiTC-Light", "FZLTXHB--B51-0"/* 蘭亭黑-繁 纖黑 */, 
                 "Helvetica-Light", "Microsoft JhengHei", "新細明體", system-ui;

    .gist {
        border-style:solid;
        border-color:#F4BA66;
        color:#000000;
    }

    /*
        註: 驗證發現中文字型 ArialUnicodeMS 前面，否則 Mac OS 的瀏覽器會先套用 ArialUnicodeMS 自帶的中文字。
    */
    code {
        font-family: "AvenirNext-Medium", "Sathu", "Geneva", "STHeiti", "PingFangTC-Light", "LiSongPro", "Trebuchet MS",
                     "Microsoft Sans Serif", "Segoe UI", "Calibri", "Franklin Gothic", "ArialUnicodeMS", "FangSong",
                     "微軟正黑體", "SimSun", "細明體";
    }
}

#postBg.les, #postBg.es {
    font-size:18px;
    line-height: 1.55;
    margin:0 auto;
    background:rgb(255,253,249);
    box-shadow:0 2px 3px 0 #888888;
    
    #toc {
        background:#F9F9F9;
        margin-right:2em;
        margin-bottom:2em;
        box-shadow: 0 0 3px 0 #666666;
        border-radius:5px;
        float:left;
        .sap {
            width:100%;
            border-radius:2.5px;
        }
    }
    .content.post, .content.page {
        .article {
            h1,h2,h3,h4,h5 {
                margin-top:0;
            }
            h1 {
                font-size:30px;
            }
            h2 {
                font-size:28px;
            }
            h3 {
                font-size:26px;
            }
            h4 {
                font-size:24px;
            }
            h5 {
                font-size:22px;
            }
            img {
                /*圖示的編排方式？*/
                margin:1.5em auto;
            }
            &:after {
                content:"";
                display:block;
                clear:both;
            }
            li {
                margin:0.5em 0;
            }

            /* 為 slideshow 加上置中對齊的樣式。 */
            .slideshow {
                display:block;
                margin:1.5em auto;
            }
        }
    }
}

/* 以下是大外接螢幕專用的樣式 */
#postBg.les {
    .gist {
        margin:1.875vw 0;
    }
    #toc {
        .sap {
            height:5px;
        }
        .content {
            li {
                margin-top:0.4em;
                margin-bottom:0.4em;
            }
        }
    }
}

/* 以下是一般外接螢幕專用的樣式 */
#postBg.es {
    .gist {
        margin:27px 0;
    }      
    #toc {
        .sap {
            height:4px;
        }
        .content {
            li {
                margin-top:0.6em;
                margin-bottom:0.6em;
            }
        }
    }
}