#post-header.les, #post-header.es {
    #titleBg {
        position:relative;
        background:#1B3404;
        box-sizing:border-box;
        box-shadow:0 2px 4px 0 rgba(0,0,0,50);
        padding:1px 0;/* 加入 1px padding 以免裡面元素的 margin 穿出 titleBg*/
    }
    .postInfo {
        margin:0 auto;
        position:relative;
        padding:1px 0;/* 加入 1px padding 以免裡面元素的 margin 穿出 post info*/
    }
    .title {
        font-size:1em;
        margin:1em 0;
    }
    .categories, .tags, .publishInfo {
        font-size:0.5em;
        .icon {
            /*
              實驗發現若要把 svg 圖示的尺吋設定為 1em，
              則 chrome 上面要藉由 min-width, min-height 完成，firefox 上面要透過 width, height 完成，故兩套設定缺一不可。
            */
            min-width:1em;
            min-height:1em;
            width:1em;
            height:1em;
            margin-right:1em;
        }
    }

    .categories, .tags {
        margin-bottom:0.75em;
    }   

    .subject {
        border-width:4px;
    }
    img {
        width:100%;
        position:absolute;
        top:100%;       
    }
    #post-dec {
        height:0.33em;
    }
}

/* 以下是大外接螢幕專用的樣式 */
#post-header.les {          
    .subject {
        margin:0.94vw 0;
    }
}
.les .subject {
    border-width:4px; 
    font-size:1.15vw;
    /*註: 本文主旨必須上面的 padding 必須為內容字體大小約 1/3 左右，否則就算內容不多， fieldset 仍會被撐得很高，
        而且內容文字還會與下面的 padding 貼齊，具體原因我還不是很清楚*/
    padding:0.383vw 1.15vw 0.9125vw 1.15vw;
    legend {
        font-size:1.25vw;
        padding:0 0.625vw;
    }
}

/* 以下是一般外接螢幕專用的樣式 */
#post-header.es {
    font-size:45px;
    .subject {
        margin:30px 0;
    }
}
.es .subject {
    border-width:3px; 
    font-size:18px;
    /*註: 本文主旨必須上面的 padding 必須為內容字體大小約 1/3 左右，否則就算內容不多， fieldset 仍會被撐得很高，
        而且內容文字還會與下面的 padding 貼齊，具體原因我還不是很清楚*/
    padding:6px 21px 14.4px 21px;
    legend {
        font-size:20px;
        padding:0 10px;
    }
}