#toc {
    & > * {
        display:block;
    }
    .sap {
        background:#C73C3C;
    }
    .title{
        text-align:center;
        color:#51719D;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    ol {
        padding-left:0;
    }
    .content {
        & > li {
            margin-left:2em;
            margin-right:1em;
        }
        ol {
            margin-left:1.75em;
        }
        li {
            list-style-type:decimal;
            ol li {
                /* 註: 因為 deciaml-leading-zero, upper-roman, upper-latin, lower-latin 
                    這些項目符號可以只用一個字母就表達單一項目，所以 ol 左邊只要留下 1.5em 的寬度即夠用。 */
                list-style-type:decimal-leading-zero;
                ol {
                    margin-left:1.5em;
                    li {
                    list-style-type:upper-roman;
                        ol {
                            margin-left:1.5em;
                            li {
                                list-style-type:upper-latin;
                                ol {
                                    margin-left:1.5em;
                                    li {
                                        list-style-type:lower-latin;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    li {
        list-style-position:outside;
        color:#576373;
        & > * {
            color:#576373;
        }
    }
}

/* 橫跨所有螢幕的樣式設定 */
#postBg {
    box-sizing:border-box;
    font-family: "AvenirNext-Medium", "Microsoft Sans Serif", "Calibri", "Segoe UI", "Arial", "Lucida Bright", "Calisto MT", 
                 "Verdana", "Tahoma", "Arial", "Times New Roman", "PingFangTC-Light", "STHeitiTC-Light", "FZLTXHB--B51-0"/* 蘭亭黑-繁 纖黑 */, 
                 "Helvetica-Light", "Microsoft JhengHei", "新細明體", system-ui;

    .gist {
        border-style:solid;
        border-color:#F4BA66;
        color:#000000;
    }

    /*
        註: 驗證發現中文字型 ArialUnicodeMS 前面，否則 Mac OS 的瀏覽器會先套用 ArialUnicodeMS 自帶的中文字。
    */
    code {
        font-family: "AvenirNext-Medium", "Sathu", "Geneva", "STHeiti", "PingFangTC-Light", "LiSongPro", "Trebuchet MS",
                     "Microsoft Sans Serif", "Segoe UI", "Calibri", "Franklin Gothic", "ArialUnicodeMS";
    }
}

#postBg.les, #postBg.es {
    font-size:18px;
    margin:0 auto;
    background:rgb(255,253,249);
    box-shadow:0 2px 3px 0 #888888;
    
    #toc {
        background:#F9F9F9;
        margin-right:2em;
        margin-bottom:2em;
        box-shadow: 0 0 3px 0 #666666;
        border-radius:5px;
        float:left;
        .sap {
            width:100%;
            border-radius:2.5px;
        }
    }
    .content.post, .content.page {
        h1,h2,h3,h4,h5 {
            margin-top:0;
        }
        h1 {
            font-size:30px;
        }
        h2 {
            font-size:28px;
        }
        h3 {
            font-size:26px;
        }
        h4 {
            font-size:24px;
        }
        h5 {
            font-size:22px;
        }
        img {
            /*圖示的編排方式？*/
            margin:1.5em auto;
        }
        &:after {
            content:"";
            display:block;
            clear:both;
        }
    }    
}

/* 以下是大外接螢幕專用的樣式 */
#postBg.les {
    .gist {
        margin:1.875vw 0;
    }
    #toc {
        .sap {
            height:5px;
        }
        .content {
            li {
                margin-top:0.8em;
                margin-bottom:0.8em;
            }
        }
    }
}

/* 以下是一般外接螢幕專用的樣式 */
#postBg.es {
    .gist {
        margin:27px 0;
    }      
    #toc {
        .sap {
            height:4px;
        }
        .content {
            li {
                margin-top:0.6em;
                margin-bottom:0.6em;
            }
        }
    }
}