#postBg.les, #postBg.es {
    box-sizing:border-box;
    font-size:18px;
    margin:0 auto;
    background:rgb(255,253,249);
    box-shadow:0 2px 3px 0 #888888;
    font-family: $fontFamilyOfTextInArticle;
    .subject {
        border-style:solid;
        border-color:#F4BA66;
        color:#000000;
        float:none;
    }
    #toc {
        margin-right:2em;
        margin-bottom:2em;
        background:#F9F9F9;
        box-shadow: 0 0 3px 0 #666666;
        border-radius:5px;
        float:left;
        & > * {
            display:block;
        }        
        .title{
            text-align:center;
            color:#51719D;
        }
        .sap {
            width:100%;
            background:#C73C3C;
            border-radius:2.5px;
        }         
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        ol {
            padding-left:0;
        }
        li {
            list-style-position:inside;
            color:#576373;
            & > * {
                color:#576373;    
            }
        }
        ol li {
            list-style-type:decimal;
            ol li {
                list-style-type:decimal-leading-zero;
                ol li {
                    list-style-type:upper-roman;
                    ol li {
                        list-style-type:upper-latin;
                        ol li {
                            list-style-type:lower-latin;
                        }
                    }
                }   
            }
        }
    }
    .content {
        h1,h2,h3,h4,h5 {
            margin-top:0;
        }
        h1 {
            font-size:30px;
        }
        h2 {
            font-size:28px;
        }
        h3 {
            font-size:26px;
        }
        h4 {
            font-size:24px;
        }
        h5 {
            font-size:22px;
        }
        img {
            margin:1.5em auto;
        }
    }    
}

/* 以下是大外接螢幕專用的樣式 */
#postBg.les {
    .subject {
        margin:1.875vw 0;
    }
    #toc {
        .sap {
            height:5px;
        }
    }
}

/* 以下是一般外接螢幕專用的樣式 */
#postBg.es {
    .subject {
        margin:15px 0;
    }      
    #toc {
        .sap {
            height:4px;
        }
    }
}