$marginTopBottomOfEmbbedItem: 1.5em;
#postBg.tb, #postBg.sp {
    padding-left:1em;
    padding-right:1em;
    max-width:100%;
    box-sizing:border-box;
    background:rgba(255,242,223,32);

    h1,h2,h3,h4,h5 {
        margin-top:0;
    }

    &.post, &.page {
        .ytvideo {
            margin:$marginTopBottomOfEmbbedItem auto;
            display:block;
        }

        .ytvideo-box {
            width:100%;
            margin:$marginTopBottomOfEmbbedItem 0;
            display:flex;
            justify-content:space-evenly;
            flex-wrap:wrap;
            .ytvideo {
              margin:0.75em;
            }
        }
    }
}

#postBg.tb, #postBg.tb{
    &.post, &.page {
        font-size:18px;
        line-height: 1.65;
        margin-bottom:2em;

        h1 {
            font-size:28px;
        }
        h2 {
            font-size:26px;
        }
        h3 {
            font-size:24px;
        }
        h4 {
            font-size:22px;
        }
        h5 {
            font-size:20px;
        }

        img {
            margin:$marginTopBottomOfEmbbedItem 2em;
        }

        .ytvideo {
            width:540px;
            height:324px;
        }

        li {
            margin:0.5em 0;
        }
    }

}

#postBg.sp.post, #postBg.sp.page {
    &.post, &.page {
        font-size:16px;
        line-height: 1.65;
        margin-bottom:2em;

        h1 {
            font-size:22px;
        }
        h2 {
            font-size:21px;
        }
        h3 {
            font-size:20px;
        }
        h4 {
            font-size:19px;
        }
        h5 {
            font-size:18px;
        }

        img {
            margin:1.5em 0;
        }

        li {
            margin:0.5em 0;
        }

        .slideshow {
            display:block;
            margin:1.5em auto;
        }
    }
}