#post-header.tb, #post-header.sp {
    position:relative;

    .titleBg {/*給有圖的標題用的類別*/
        position:relative;
        background:#1B3404;
        box-shadow:0 2px 4px 0 rgba(0,0,0,50);
        padding:1px 0;/* 是為了讓內容元素的 margin-top, margin-bottom 能延伸此元素高度的辦法*/
    }    

    .postInfo {
        position:relative;
        padding-bottom:1px;/* 是為了讓內容元素的 margin-bottom 能延伸此元素高度的辦法*/               
    }

    .title {
        font-size:1em;
    }

    .categories, .tags {
        margin-bottom:0.75em;
    }

    .categories, .tags, .publishInfo {
        margin-top:0.75em;
        .icon {
            /*
              實驗發現若要把 svg 圖示的尺吋設定為 1em，
              則 chrome 上面要藉由 min-width, min-height 完成，firefox 上面要透過 width, height 完成，故兩套設定缺一不可。
            */
            min-width:1em;
            min-height:1em;
            width:1em;
            height:1em;
        }
    }
    img {
        width:100%;      
    }
    #post-dec {
        height:0.33em;
        position:relative;
    }
}
.tb, .sp {
    .gist {
        border-width:3px;
        padding:0.33em 1em 1em 1em;
        legend {
            padding:0 0.5em;
        }
    }
}

#post-header.tb {

    .titleBg {
        padding-left:18px;
        padding-right:18px;
    }

    .title {
        margin:1em 0;
    }

    img {
        position:absolute;
        top:100%;
        border-radius:5px;
    }

    .postInfo {
        .categories, .tags, .publishInfo {
            .icon {
                margin-right:1em;
            }
        }
    }
}

#post-header.sp {
    
    .titleBg {
        padding-left:16px;
        padding-right:16px;
    }

    .title {
        margin:0.75em 0;
    }

    img {
        border-radius:3px;
    }

    .categories, .tags, .publishInfo {
        .icon {
            margin-right:0.5em; 
        }
    }

    .categories {
        margin-top:1.5em;
    }
    
    .publishInfo {
        margin-bottom:1.5em;
    }
}