#post-header.tb, #post-header.sp {
    position:relative;
    background:#1B3404;
    box-shadow:0 2px 4px 0 rgba(0,0,0,50);
    padding-top:1em;

    .title {
        font-size:1em;
        margin-bottom:1em;
    }
    .titleBg {
        position:relative;
    }

    .categories, .tags {
        margin-bottom:0.75em;
    }

    .categories, .tags, .publishInfo {
        .icon {
            min-width:1em;
            min-height:1em;
        }
    }
    img {
        width:100%;
        position:absolute;
        top:100%;       
    }
    #post-dec {
        height:0.33em;
    }
}
.tb .subject, .sp .subject {
    border-width:3px;
    padding:0.33em 1em 1em 1em;
    legend {
        padding:0 0.5em;
    }
}

#post-header.tb {
    padding-left:18px;
    padding-right:18px;

    .categories, .tags, .publishInfo {
        font-size:0.5em;
        .icon {
            margin-right:1em;
        }
    }
}

#post-header.sp {
    padding-left:16px;
    padding-right:16px;

    .categories, .tags, .publishInfo {
        .icon {
            margin-right:0.5em; 
        }
    }
}