$marginTopBottomOfEmbbedItem: 1.5em;

#postBg.tb, #postBg.sp {
    padding-left:1em;
    padding-right:1em;
    max-width:100%;
    box-sizing:border-box;
    background:rgba(255,242,223,32);

    h1,h2,h3,h4,h5 {
        margin-top:0;
    }

    .post, &.page {
        img, figure {
            display:block;
            margin:$marginTopBottomOfEmbbedItem auto;
            max-width:100%;
        }

        figure {
            img {
                width:100%;
            }

            figcaption {
                text-align: center;
                margin:0 auto;
                font-size:0.8em;
            }

            img + caption {
                margin-top:-$marginTopBottomOfEmbbedItem*2/3;
            }
        }

        .gallary {
            width:100%;
            margin:$marginTopBottomOfEmbbedItem 0;
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            justify-content:space-evenly;
              
            img, figure {
              margin:$marginTopBottomOfEmbbedItem/2 0;
            }

            img {
                object-fit:contain;
            }
        }

        .ytvideo {
            margin:$marginTopBottomOfEmbbedItem auto;
            display:block;
        }

        .ytvideo-box {
            width:100%;
            margin:$marginTopBottomOfEmbbedItem 0;
            display:flex;
            justify-content:space-evenly;
            flex-wrap:wrap;
            .ytvideo {
              margin:$marginTopBottomOfEmbbedItem/2;
            }
        }

        .slideshow {
            display:block;
            margin:$marginTopBottomOfEmbbedItem auto;
        }

        p, blockquote, cite {
            white-space:pre-line;
        }
        
        blockquote, cite {
            font-weight:300;
        }
        
        blockquote {
            font-style:italic;
            margin:initial 2em;
        }
    }

}

#postBg.tb {
    .post, &.page {
        font-size:18px;
        line-height: 1.65;
        margin-bottom:2em;

        h1 {
            font-size:28px;
        }
        h2 {
            font-size:26px;
        }
        h3 {
            font-size:24px;
        }
        h4 {
            font-size:22px;
        }
        h5 {
            font-size:20px;
        }

        .ytvideo {
            width:540px;
            height:324px;
        }

        li {
            margin:0.5em 0;
        }
    }
}

#postBg.sp {
    .post, &.page {
        font-size:16px;
        line-height: 1.65;
        margin-bottom:2em;

        h1 {
            font-size:22px;
        }
        h2 {
            font-size:21px;
        }
        h3 {
            font-size:20px;
        }
        h4 {
            font-size:19px;
        }
        h5 {
            font-size:18px;
        }

        li {
            margin:0.5em 0;
        }

    }
}